<div class="col-xs-3">
	<h4>売れ筋ランキング</h4>
	<ul>
		<% ranking.each do |item| %>
			<li><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: "jpeg" %></li>
			<li><%= link_to item.item_name, end_item_path(item.id) %></li>
			<li><%= item.artist.artist_name %></li>
		<% end %>
	</ul>
</div>