<table class="table table-bordered table-hover y_item_table" style="font-size: 20px">
  <thread>
    <tr>
      <th style="width: 35px">ID</th>
      <th style="width: 400px">ユーザー名</th>
      <th style="width: 60px">編集</th>
      <th style="width: 60px">削除</th>
    </tr>
  </thread>
  <tbody>
  <% users.each do |user|%>

    <tr>
      <td><p><%= user['id'] %></p></td>
      <td><p><%= user['last_name'] + user['first_name'] %></p></td>
      <td>
        <%= link_to edit_admin_user_path(user['id']) do %>
          <i class="fa fa-edit fa-2x fa-border" style="color: black"></i>
        <% end %>
      </td>
      <td>
        <%= link_to admin_users_path(user['id']), :method => :delete do %>
          <i class="fa fa-remove fa-2x fa-border" style="color: red"></i>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>