* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    background-color: orange;
    width: 1000px;
    height: 60px;
}

.y_item_content{
    width: 1000px;
    padding: 0 50px;
}

.y_h2{
    text-align: center;
    font-size: 40px;
}

.y_h3{
    font-size: 30px;
    font-weight: bold;
}

/*index-------------------------- */
.y_item_content > p{
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

.y_search_item_stock, .y_search_item_condition{
    display: none;
}

/*-------------------------- */

/*search_form-------------------------- */

.y_search_form{
    padding: 0 25px;
    margin-bottom: 20px;
}

/*検索方法選択*/
.y_select {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.y_select select {
    width: 1000px;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.y_select select::-ms-expand {
    display: none;
}

.y_select.y_select_content {
    position: relative;
    border-radius: 2px;
    border: 4px solid #036eff;
    border-radius: 50px;
    background: #ffffff;
    vertical-align: top;
}

.y_select.y_select_content::before {
    position: absolute;
    top: 1.4em;
    right: 1.2em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #036eff;
    pointer-events: none;
}

.y_select.y_select_content select {
    padding: 8px 38px 8px 38px;
    color: black;
    font-size: 25px;
}

/*item_name_form*/
.y_search_text_field{
    font-size: 25px;
    width: 70%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
}

.y_search_button{
    width: 20%;
    height: 50px;
    display: inline-block;
    background-color: #26a69b;/*背景色*/
    color: #FFF;/*文字色*/
    font-size: 25px;/*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;/*字間*/
    padding: 0.2em 1em;/*ボタン内の余白*/
    border-radius: 3px;/*角の丸み*/
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
    -webkit-tap-highlight-color: transparent;
    transition: .3s ease-out;/*変化を緩やかに*/
    margin-left: 20px;
}

/*item_stock_form*/
.y_search_item_stock > div > .y_search_text_field{
    font-size: 25px;
    width: 20%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}

.y_search_item_stock > div > .y_select{
    width: 20%;
    display: inline-block;
    margin-left: 20px;
}

.y_search_item_stock > div> span{
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    bottom: 20px;
}

/*item_sale_condition*/
.y_search_radio_input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.y_search_radio_label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all .2s;
    font-size: 25px;
    border: 3px solid black;
    margin-left: 20px;
    width: 25%;
    text-align: center;
}

.y_search_radio_input:checked + .y_search_radio_label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_search_radio_input:focus + .y_search_radio_label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_search_item_condition > span {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}

.y_start{
    margin-left: 100px;
}


/*-------------------------- */

/*item_table-------------------------- */

.y_item_table > tbody > tr > td > a >i{
    margin-top: 10px;
    background-color: #26a69b;
    border-radius: 3px;/*角の丸み*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
}

.y_item_table > tbody > tr > td >i{
    margin-top: 20px;
}

.y_item_table > tbody > tr > td {
    font-weight: bold;
}

.y_item_table > tbody > tr > td > p {
    margin-top: 20px;
}

.y_item_table > tbody > tr > td:nth-child(even) > p ,.y_item_table > tbody > tr > td:nth-child(1) > p{
    text-align: center;
}

.y_item_table > tbody > tr > th{
    text-align: center;
    background-color: deepskyblue;
}

.y_item_table > thead > tr > th, .y_item_table > thead > tr > td, .y_item_table > tbody > tr > th, .y_item_table > tbody > tr > td, .y_item_table > tfoot > tr > th, .y_item_table > tfoot > tr > td {
    border: 3px solid #333333 !important;
}

.y_item_table.table-hover tbody tr td:hover {
    background-color: #fb9692;
}

.y_item_table.table-hover tbody tr:hover {
    background-color: deepskyblue;
}
/*-------------------------- */

/*new-------------------------- */
.y_codition_form{
    margin-top: 40px;
}

/*registration_form-------------------------- */
.y_registration_radio_input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.y_registration_radio_label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: all .2s;
    font-size: 25px;
    border: 3px solid black;
    margin-left: 150px;
    width: 25%;
    text-align: center;
}

.y_registration_radio_input:checked + .y_registration_radio_label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.y_registration_radio_input:focus + .y_registration_radio_label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}



.y_registration_pulldown{
    display: inline-block;
    width: 40%;
    margin-left: 58px;
}
.y_registration_pulldown_label{
    margin-left: 300px;
}

.y_registration_pulldown_genre{
    margin-left: 45px;
    margin-top: 40px;
}


/*-------------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 200px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
    width: 20%;
    height: 0;

}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.y_image_submit_btn{
    font-size: 35px;
    margin: 40px;
}

.y_upload_view{
    display: inline-block;
    margin-left: 40px;
    border: solid 2px black;
}

.y_image_upload{
    margin-top: 40px;
    margin-left: 40px;
}

.y_image_file_name{
    position: absolute;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 80px;
}

.y_image_title{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
}

.y_form_text_field{
    font-size: 25px;
    width: 70%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
}

.y_item_form, .y_artist_form, .y_price_form, .y_stock_form{
    margin-top: 40px;
    margin-left: 40px;
}

.y_form_submit{
    width: 0;
    margin-top: 80px;
    margin-left: 220px;
}

.y_item_form_submit{
    font-size: 30px;
}

.y_form_submit > .btn{
    font-size: 50px;
    width: 450px;
}

.y_price_form > input{
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.y_price_form > span, .y_price_form > div > span, .y_stock_form > span{
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
}

.y_price_form > div {
    text-align: right;
    margin-top: 10px;
    border-top: solid 2px black;
}

.y_task_price{
    color: red;
}

.y_stock_form > input{
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.form-disc > span{
    font-size: 40px;
    font-weight: bold;
}

.form-disc{
    border-bottom: solid 3px blue;
    margin-left: 80px;
}

.y_music_form{
    position: relative;
}

.y_music_form > h3{
    margin-left: 40px;
    margin-top: 40px;
}

.discs > .nested-fields{
    margin-top: 40px;
}

.discs > .nested-fields:nth-child(1){
    margin-top: 0px;
}

.form-music > span{
    font-size: 40px;
    font-weight: bold;
}

.form-music{
    margin:5px 0 5px 120px;
}

.form-music > input{
    font-size: 25px;
    width: 70%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: 2px solid #1b2538;
    border-radius: 4px;
    margin-left: 20px;
}

.form-music > .btn{
    margin-left: 55px;
    margin-bottom: 6px;
    font-size: 30px;
}

.form-disc > .btn{
    margin-left: 495px;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-disc > .btn{
    margin-left: 495px;
    margin-bottom: 20px;
    font-size: 30px;
}

.music > .links >  .btn{
    font-size: 30px;
}

.music > .links{
    text-align: center;
    margin-top: 20px;
}

.discs > .links >  .btn{
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 345px;
}

.y_sale_number > span{
    font-size: 35px;
    font-weight: bold;
}

.y_sale_number{
    border-top: solid 2px black;
    margin-top: 10px;
    margin-left: 40px;
    text-align: right;
}